basePath: /
host: localhost:8080
info:
  contact: {}
  description: This is a sample Student API built with Echo and Swagger
  title: Student API
  version: "1.0"
paths: {}
schemes:
- http
swagger: "2.0"
